.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title {
    position: relative;
}
.about-title h1 {
    padding: 0px 30px;
    font-size: 48px;
    font-weight: 600;
}

.about-section {
    display: flex;
    gap: 80px;
}
.about-left img{
    height: 450px;
    width: 400px;
    border-radius: 10%;
}
.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.about-achievements {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}

.about-achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievement h1 {
    font-size: 48px;
    font-weight: 700;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-achievement p{
    font-size: 22px;
    font-weight: 500;
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-achievement:hover {
    transform: scale(1.05);
    transition: 0.5s;
}
.about-showmore-link {
  text-decoration: none;
  color: inherit; 
}
.about-showmore {
    display: flex;
    gap: 15px;
    width: 180px;
    border-radius: 0px;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    transition: 0.6s;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(220, 53, 69, .15);
}
.about-showmore:hover {
    gap: 30px;
    transition: 0.3s;
    border: 2px solid #dc3545;
    box-shadow: 0 .5rem 1rem rgba(220, 53, 69, .15);
}

@media(max-width:768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: start;
    }

    .about-title h1{
        font-size: 35px;
        padding: 0;
    }

    .about-section{
        flex-direction: column;
    }

    .about-left{
        display: none;
    }

    .about-para{
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill{
        gap: 20px;
        align-items: center;
    }

    .about-skill p{
        font-size: 20px;
    }

    .about-skill hr{
        height: 6px;
    }

    .about-achievements{
        justify-content: space-between;
    }
    .about-achievement{
        gap: 10px;
    }
    .about-achievement h1{
        font-size: 34px;
        font-weight: 700;
    }

    .about-achievement p{
        text-align: center;
        font-size: 16px;
    }
    .about-showmore{
        width: 160px;
        padding: 15px;
        font-size: 18px;
        margin: 50px auto;
        cursor: pointer;
        box-shadow: 0 .5rem 1rem rgba(220, 53, 69, .15);
    }
}