.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-title h1 {
    padding: 0px 30px;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.about-section {
    display: flex;
    gap: 80px;
    width: 100%;
    justify-content: center;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}

.about-para {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center; 
}
.about-para h1{
     color: #ccd6f6;
}
.about-skills-section h1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 35px;
    font-weight: 500;
    text-align: center; 
    color: #ccd6f6;
    margin-bottom: 100px;
}

.about-skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px;
    width: 100%;
    justify-items: center;
}

.about-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: 0.3s;
}

.about-skill img {
    height: 50px;
    width: 50px;
}

.about-skill p {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}

.about-skill:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

.about-showmore-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

.about-showmore {
    display: flex;
    gap: 15px;
    width: 180px;
    border-radius: 0px;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    transition: 0.6s;
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(220, 53, 69, .15);
    justify-content: center; 
}

.about-showmore:hover {
    gap: 30px;
    transition: 0.3s;
    border: 2px solid #dc3545;
    box-shadow: 0 .5rem 1rem rgba(220, 53, 69, .15);
}



@media (max-width: 768px) {
    .about {
        gap: 60px;
        margin: 50px 20px;
    }

    .about-title h1 {
        font-size: 30px;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
    }

    .about-section {
        flex-direction: column;
        gap: 40px;
    }

    .about-right {
        width: 100%;
        padding: 0 10px;
    }

    .about-para {
        font-size: 16px;
        line-height: 28px;
    }

    .about-para h1 {
        font-size: 25px;
       
    }

    .about-skills {
        grid-template-columns: repeat(2, 1fr); 
    }

    .about-skill img {
        height: 30px;
        width: 30px;
    }

    .about-skill p {
        font-size: 16px;
        min-width: 120px;
    }

    .about-skill hr {
        height: 6px;
    }

    .about-showmore {
        width: 160px;
        padding: 10px;
        font-size: 18px;
        margin: 30px auto;
        cursor: pointer;
        box-shadow: 0 .5rem 1rem rgba(220, 53, 69, .15);
    }
}

@media (max-width: 1024px) {
    .about {
        margin: 60px 50px;
        gap: 70px;
    }

    .about-title h1 {
        font-size: 40px;
    }

    .about-section {
        flex-direction: row;
        gap: 40px;
    }

    .about-para {
        font-size: 18px;
    }

    .about-skill img {
        height: 40px;
        width: 40px;
    }

    .about-skill p {
        font-size: 20px;
    }

    .about-skill hr {
        height: 7px;
    }

    .about-showmore {
        width: 180px;
        font-size: 20px;
    }
}
